body{
    font-family: Arial, sans-serif;
    background-color: rgb(209, 135, 230);
}

.container{
    width: 300px;
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    border: 1px solid gray;
}

.profile-img{
    width: 100px;
    height: 150px;
    border-radius: 100%;
    box-shadow: inset;
}

h1{
    color: rgb(77, 77, 123);
}

h2{
    color: gray;
    font-size: 18px;
}

.info{
    text-align: left;
    margin-top: 15px;
}

button{
    margin-top: 15px;
    padding: 8px 15px;
    background-color: rgb(218, 17, 121);
    color: white;
    border: none;
}